<!DOCTYPE html>
<html>
  <head>
    <title>Product</title>
  </head>
  <body>
    <div>
      <button id="log-out-button" onclick="logoutFunc()">Log out</button>
    </div>
    <button onclick="redirectToView()">view product</button>
    <script>
      const token = localStorage.getItem("access");
      if (!token) {
        window.location.href = "/Login/userlogin/";
      }
      function redirectToView(){
        window.location.href = "/product/productlist/"
      }
      function logoutFunc(){
        localStorage.removeItem("access");
        localStorage.removeItem("refresh");
        window.location.href = "/Login/userlogin/"
      }
    </script>
  </body>
  </html>