<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    <form method="POST" id="forgot-password-form">
      {% csrf_token %}
      <input type="email" placeholder="enter email" name="email">
      <input type="password" placeholder="Enter new password" name="new_password">
      <input type="password" placeholder="Confirm password" name="confirm_password">
      <button type="submit">Submit</button>
    </form>
    <p id="error"></p>
    <script>
      document.getElementById("forgot-password-form").addEventListener("submit" , async function(e){
        e.preventDefault();
        const formData = new FormData(this)
        const csrfToken = formData.get("csrfmiddlewaretoken")
        
        try{
          const response = await fetch("{% url 'forgot-password-api'%}" , {
            method:"POST",
            headers : {
              "X-CSRFToken" : csrfToken
            },
            body : formData
          });

          const data = await response.json();

          if(response.ok){
            window.location.href = "/Login/forgototp/";
          }
          else{
            document.getElementById("error").textContent = data.message;
          }
        }
        catch(error){
          document.getElementById("error").textContent =error.message;
        }

      })
    </script>
  </body>
  </html>