{% extends 'product/base.html'%}
{% block title%}Product{% endblock %}


{% block content %}
  <table border="1">
      <tr>
        <th>Product id</th>
        <th>Product name</th>
        <th>Product price</th>
        <th>product image</th>
        <th>Add to cart</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.product_name }}</td>
        <td>{{ product.product_price }}</td>
        <td><img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" width="200"></td>
        <td>
          <button onclick="AdditionToCart({{product.id}})">Add to cart</button>
        </td>
      </tr>
      {% endfor %}
{% endblock %}

{% block extra_js %}
  <script>
    async function AdditionToCart(id){
      const response = await authFetch(`/product/addtocart/api/${id}/`, {
        method : "POST"
      })
      console.log("Status:", response.status)
      if (response.ok){
        alert("added to cart")
      }
      else if (response.status === 401){
        alert("Login again")
      }
      else{
        alert("product not found")
      }
    }
  </script>
{% endblock %}