{% extends 'product/base.html'%}

{% block title %}Cart{% endblock %}

{% block content %}
    <div id="cart-product">
    </div>
    <p id="total-amount"></p>
{% endblock %}
{% block extra_js %}
  <script>
    async function cartData(){
      const response = await authFetch(`/product/addtocart/api/`, {
        method : "GET"
      })
      if (response.ok){
        const data = await response.json();
        const cartContainer = document.getElementById('cart-product');
        cartContainer.innerHTML = ""; 

        data.items.forEach(item => {
          cartContainer.innerHTML += `
            <div class="cart-item">
              <img src="${item.image}" alt="${item.name}" width="100">
              <p>Name: ${item.name}</p>
              <p>Price: ${item.price}</p>
              <p>Quantity: ${item.quantity}</p>
            </div>
           `;
        });
        document.getElementById('total-amount').innerText = `Total: ${data.total}`;
        } 
        else {
          alert("Failed to load cart");
        }
    }
    document.addEventListener("DOMContentLoaded", cartData);
  
</script>
{% endblock %}
