{% extends 'product/base.html'%}

{% block title %}Cart{% endblock %}

{% block content %}
    <div id="cart-product">
      
    </div>
    <p id="total-amount"></p>
    <button>Checkout</button>
{% endblock %}
{% block extra_js %}
  <script>
    async function cartData(){
      const response = await authFetch(`/product/cartdisplay/api/`, {
        method : "GET"
      })
      if (response.ok){
        const data = await response.json();
        const cartContainer = document.getElementById('cart-product');
        cartContainer.innerHTML = ""; 

        data.items.forEach(item => {
          cartContainer.innerHTML += `
            <div class="cart-item">
              <img src="${item.image}" alt="${item.name}" width="100">
              <p>Name: ${item.name}</p>
              <p>Price: ${item.price}</p>
              <p>Quantity: ${item.quantity}</p>
              <button onclick="deleteCartItem(${item.id})">Remove</button>
            </div>
           `;
        });
        document.getElementById('total-amount').innerText = `Total: ${data.total}`;
        } 
        else {
          alert("Failed to load cart");
        }
    }
    async function deleteCartItem(id){
      console.log("Clicked remove for:",id);
      const response = await authFetch(`/product/deletecart/api/${id}/`, {
        method : "DELETE"
      })
      if (response.ok){
        window.location.reload()
      } else {
        document.getElementById("error").textContent = "Failed to edit";
      }
    }
    
    document.addEventListener("DOMContentLoaded", cartData);
    
</script>

{% endblock %}
